<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://img.freepik.com/vetores-premium/logotipo-divertido-de-cachorro-de-arte-de-linha_686339-148.jpg');
    height: 35vh; width: 100%;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 100%; width: 100%; margin: 0;">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-cover">
        <h1 class="mb-3"> Pet Shop Mágico</h1>
        <h2 class="mb-3">Conheça o Encantamento Pet</h2>
        <a class="btn btn-outline-light btn-lg" routerLink="/list-product" role="button">conhecer</a>
      </div>
    </div>
  </div>
</div>



<mat-card class="example-card">
    <div class="redes">
      <span>Siga-nos em nossas redes sociais</span>
      <div class="icons">
        <i class="fa fa-instagram" style="font-size:24px; height: 1vmin; width: 1vmin;"></i>
        <i class="fab fa-github fa" style="color: #9ca7a7; height: 1vmin; width: 1vmin;"></i>
      </div>
    </div>

    <div class="sobreNos" style="color: grey;">
      <h2>Bem-vindos ao Mundo Encantado dos Pets! 🐾✨</h2>
      <p> No nosso Pet Shop mágico, os animais são as estrelas e o encantamento está no ar!
      Aqui, o arco-íris ilumina cada cantinho, e as patinhas dos nossos amigos de quatro patas deixam um rastro de pura
      alegria.</p>
      <p>Ao adentrar nosso pet shop, você será recebido por um coral de pássaros cantando melodias suaves e gatinhos
        desfilando com suas elegantes gravatinhas.
        Os cachorrinhos, cheios de energia, saltam como verdadeiros acrobatas em um circo de diversão.</p>
      <p>Nossa equipe de fadas dos animais está pronta para cuidar do seu bichinho com todo amor e dedicação.
        Temos poções mágicas que transformam banhos em momentos de relaxamento, escovagens em carinhosos abraços e tosas
        em verdadeiras transformações mágicas.</p>
      <p>Em nosso jardim encantado, você encontrará uma vasta seleção de brinquedos e acessórios para o deleite dos nossos
        amiguinhos. Desde bolinhas flutuantes para os peixinhos até varinhas mágicas para os gatinhos caçadores,
        garantimos diversão sem fim!</p>
      <p>E para os momentos de fome, nossa lanchonete pet-friendly oferece delícias gastronômicas dignas de um banquete
        real! Biscoitos com sabor de ração de estrelas, cupcakes com cobertura de patinhas e guloseimas com cheirinho de
        amor estão à disposição dos paladares mais exigentes.</p>
      <p>Aqui no Mundo Encantado dos Pets, a magia se estende além das fronteiras do pet shop. Temos um espaço especial
        para adoção de animaizinhos abandonados, onde a felicidade encontra um lar para chamar de seu. Conectamos almas
        perdidas com corações cheios de amor, e juntos escrevemos histórias de afeto e companheirismo.</p>
      <p>Portanto, prepare-se para se encantar, sorrir e se apaixonar em cada visita ao nosso Pet Shop mágico. Aqui, a
        magia dos animais se funde com a alegria de compartilhar momentos especiais. Estamos ansiosos para receber você e
        seu amiguinho de estimação em nosso mundo de maravilhas!</p>
      <span><b>Bem-vindos ao Mundo Encantado dos Pets, onde os sonhos dos bichinhos se tornam realidade! ✨🐾</b></span>
    </div>
</mat-card>
