<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://img.freepik.com/vetores-premium/logotipo-divertido-de-cachorro-de-arte-de-linha_686339-148.jpg');
    height: 400px; width: 100%;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 100%; width: 100%; margin: 0;">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Hello World</h1>
        <h4 class="mb-3">Conheça a pet shop mais chick da web</h4>
        <a class="btn btn-outline-light btn-lg" routerLink="/list-product" role="button">conhecer</a>
      </div>
    </div>
  </div>
</div>
