.example-card {
  background: rgba(27, 27, 31, 0.8);
  box-shadow: 5px 6px 15px rgba(20, 17, 16, 0.371);
  border: .2px solid rgba(128, 128, 128, 0.479);
  color: rgb(158, 160, 160);
  padding: 2% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
