<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <div class="titles">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    O Shiba Inu é uma raça de cão de origem japonesa e é conhecido por sua aparência adorável e personalidade cativante.
    Eles são de porte médio, têm uma pelagem densa e fofa, orelhas triangulares em pé e uma cauda enrolada sobre as costas.
  </mat-card-content>
  <div class="img">
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </div>
</mat-card>
