<nav>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: aliceblue; ">
      <!--<img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">-->
      MARCA
    </a>
  </div>
  <div class="navmenu">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pag-home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pag-product" routerLinkActive="active">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pag-order" routerLinkActive="active">Pedidos</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <app-pag-order></app-pag-order>
</main>
